/* Sticky footer styles
-------------------------------------------------- */
.fa-thumbs-up {
    color: blue;
}

.card-img-top {
    height:200px;
    max-width: 97%;
}

#img-details{
    width: 80%;
    height: 80%;
}